/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg, #2563e9, #052979);
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  min-height: 100vh;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 60px 40px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  display: flex;
  color: white;
}

.hero-txt {
  max-width: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.hero-title {
  font-size: 2em;
}

.hero-details {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.829);
  margin-bottom: 20px;
}

.hero-btn a {
  color: white;
  text-decoration: none;
  background: rgb(247, 101, 181);
  padding: 20px 30px;
  border-radius: 30px;
}

.fileira {
  margin-top: 5em;
  display: flex;
  gap: 50px;
  color: white;
}

.group-img img {
  width: 6vw;
}

.facebook img {
  width: 11vw;
}

.facebook-d {
  margin-top: -35px;
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}

.google img {
  margin-top: 2.5em;
  width: 3vw;
}

.google-d {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  margin-top: 5px;
}

.forbes img {
  width: 3.5vw;
  margin-top: 1.8em;
}

.forbes-d {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  margin-top: 5px;
}

.group-img h1 {
  font-size: 2em;
  margin-top: 1.35em;
  font-family: "Libertinus Serif", serif;
}

.inc img {
  width: 6.5vw;
}

.inc-d {
  display: flex;
  flex-direction: column;
  margin-top: -25px;
  line-height: 1.3;
}

.letra {
  margin-top: -35px;
}

.letra h1 {
  font-size: 3em;
}

.letra-d {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  line-height: 1.3;
}

.container-notfound {
  width: 70vw;
  margin: auto;
}

.flex-notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.txt-error {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.txt-error button {
  border: none;
  background: rgb(247, 101, 181);
  padding: 10px;
  border-radius: 10px;
  color: white;
  width: 15%;
  display: flex;
  justify-content: center;
  margin: 0 auto 40px;
}

.face {
  width: 300px;
  height: auto;
  color: white;
}